.NavigationBar{
    display: flex;
    justify-content: center;
}
.NavigationBar a{
    text-decoration: none;
}
.navTextWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    padding-left:20px;
    padding-right:20px;
    height:65px;
    font-weight:500;
    color:grey;
    font-size: 19px;
}

.navTextWrapper:hover{
    cursor: pointer;
    color: rgba(0, 0, 255, 0.84);
}

.navigationUnderline{
    border-top: 4px solid blue;
}